page-recover-password {


  .texto-senha-p1 {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 5px;
    font-weight: 900;
  }
  .texto-senha-p2 {
    display: inline-block;
    color:grey;
    margin-bottom: 10px;
  }
  .back{
    background-color: white;
    color: grey;
    box-shadow: none;

  }
  .back:hover{
    color:black;
    background-color: white !important;
  }
  .send{
    background-color: orange;
    transition: 300ms;
  }
  .send:hover{
    background-color: black !important;

  }
  .controles{
    position: absolute;
    display: inline-block;
    bottom: 4em;
    right: 2em;
  }
  .campos{

    padding-left: 2em;
    padding-right: 2em;
  }

}
