page-result {
  .resultado{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .conteudo-resultado{
   border: 1px solid orange;
   border-radius: 20px;
   box-shadow: 0px 2px 3px 0px  rgb(133, 132, 132);
   padding: 1em;
   background-color: white;
   margin: 5px 0px  ;
   transition-duration: 300ms;
   text-align: center;
   font-weight: bold;
  }

  .titulo-resultado{
   display: block;
   text-align: center;
   color:orange;
   font-size: 1.5em;
  }
  .conteudo-valor-1{
    color:white;
    background-color: #FF6868;
    padding: 5px;
    margin: 2px;
  }
  .conteudo-valor-2{
    color:white;
    background-color: #5694FF;
    padding: 5px;
    margin: 2px;
  }
  .conteudo-valor-3{
    padding: 5px;
    margin-top: 5px;
  }
  .conteudo-resultado:hover{
    background-color: lightgrey;
  }
  .titulo-valor{
    display: block;
  }
  .titulo-valor-3{
    display: block;
    color: orange;
    margin-bottom: 5px;
  }
  .valor-3{
    color:#689FFF;
    font-size: 1.2em;
  }
  .btn-simul{
    font-weight: bold;
  }
  .btn-offers{
    background-color: #5694FF;
    font-weight: bold;
  }
}
